<% layout('layouts/boilerplate') %>
<div class="row">
    <a href="/campgrounds">All Campgrounds</a>
</div>
<div class="row">
    <h1 class="text-center">Changelog</h1>
    <div class="col-xl-8 col-md-10 col-sm-12 offset-xl-2 offset-md-1 offset-sm-0 changelog">
        <div class="card mb-3">
            <h5 class="card-title">März 2024</h5>
            <ul class="card-text">
                <li>Dieses Changelog hinzugefügt</li>
                <li>"My Campgrounds" hinzugefügt</li>
                <li>Campgrounds - Indexseite: Add Campgrounds schaut jetzt wie ein Button aus</li>
                <li>Navbar responsive Display verbessert</li>

            </ul>
        </div>
        <div class="card mb-3">
            <h5 class="card-title">Februar 2024</h5>
            <ul class="card-text">
                <li>Initialversion</li>
            </ul>
        </div>

    </div>

</div>
    

