<% layout('layouts/boilerplate') %>
<div class="row">
    <a href="/campgrounds">All Campgrounds</a>
</div>
<div class="row">
    <h1 class="text-center mb-3">Changelog</h1>
    <div class="col-xl-8 col-md-10 col-sm-12 offset-xl-2 offset-md-1 offset-sm-0 changelog">
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">März 2024</h5>
            <ul class="card-text">
                <li>Dieses Changelog hinzugefügt</li>
                <li>"My Campgrounds" hinzugefügt</li>
                <li>Campgrounds - Indexseite: Add Campgrounds schaut jetzt wie ein Button aus</li>
                <li>Navbar responsive Display verbessert</li>
                <li>Edit campground - Bilderansicht verbessert</li>

            </ul>
        </div>
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">Februar 2024</h5>
            <ul class="card-text">
                <li>Initialversion</li>
            </ul>
        </div>
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">Selbständige Erweiterungen (während des Kurses)</h5>
            <ul class="card-text">
                <li>Displayname für User im Profil</li>
                <li>Möglichkeit das eigene Passwort zu ändern</li>
                <li>Edit campground - Bilderansicht, 2 Bilder nebeneinander</li>
                <li>Card-Elemente mit Backgroundcolor und Schatten versehen (2 Themes)</li>
            </ul>
        </div>

    </div>

</div>
    
