<% layout('layouts/boilerplate') %>
<div class="row">
    <a href="/campgrounds">All Campgrounds</a>
</div>
<div class="row">
    <h1 class="text-center mb-3">Changelog</h1>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 changelog">
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">März 2024</h5>
            <ul class="card-text">
                <li>Dieses Changelog hinzugefügt</li>
                <li>"My Campgrounds" hinzugefügt</li>
                <li>Campgrounds - Indexseite: Add Campgrounds schaut jetzt wie ein Button aus</li>
                <li>Navbar - responsive Design verbessert</li>
                <li>Edit campground - Bilderansicht verbessert</li>
                <li>Card-Elemente mit Backgroundcolor und Schatten versehen (2 Themes)</li>
                <li>responsive Design verbessert (Breite der Elemente bei unterschiedlicher Fensterbreite)</li>
            </ul>
        </div>
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">Februar 2024</h5>
            <ul class="card-text">
                <li>Initialversion</li>
            </ul>
        </div>
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">Selbständige Erweiterungen (während des Kurses)</h5>
            <ul class="card-text">
                <li>Displayname für User im Profil</li>
                <li>Möglichkeit das eigene Passwort zu ändern</li>
                <li>Möglichkeit das eigene Profil zu bearbeiten</li>
            </ul>
        </div>

    </div>

</div>
    
