<% layout('layouts/boilerplate') %>
<div class="row">
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/changelog">Changelog</a>
</div>
<div class="row">
    <h1 class="text-center mb-3">Todos</h1>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 changelog">
        <div class="card mb-3 p-3 card-bg-color">
            <h5 class="card-title">März 2024</h5>
            <ul class="card-text">
                <li>Navbar - den aktuellen Link hervorheben (nicht immer Home) <span class="todo-author">@girlscout</span></li>
                <li>Navigationspfeile in der Imagegalerie teilweise schwer erkennbar <span class="todo-author">@girlscout</span></li>
                <li>Zeitstempel bei den Reviews <span class="todo-author">@girlscout</span></li>
                <li>_Buttons auf der Campground Übersichtsseite sollten eher "See campgrounds" statt "Campgroundname" als Beschriftung haben<span class="todo-author">@girlscout</span></li>
                <li>Buttondesign (Farben) überdenken - es ist nicht klar, warum die Buttons manchmal unterschiedlich aussehen <span class="todo-author">@girlscout</span></li>
                <li>Todos bzw. Verbesserungsvorschläge sollen über die Webseite erfasst werden können <span class="todo-author">@powidl</span></li>
                <li>"Admin"seite, wo man beispielsweise das Access Log ansehen kann <span class="todo-author">@powidl</span></li>
            </ul>
        </div>
    </div>

</div>
    
