.rating {
    color: white;
    padding: 0.1rem 0.8rem;
    border-radius: 25%/50%;
}

.rating1 {
    background-color: red;
}

.rating2 {
    background-color: orangered;
}

.rating3 {
    background-color: orange;
}

.rating4 {
    background-color: yellowgreen;
}

.rating5 {
    background-color: green;
}

/* #region form input:read-only */
form[name="changePasswordForm"] input:read-only, form[name="editUserForm"] input:read-only {
    background-color: lightgray;
}
/* #endregion  */

/* #region navbar */
.navbar-brand {
    opacity: 60%;
}
.navbar-brand:hover {
    opacity: 80%;
}
/* #endregion */

/* #region end floating (must be used in parent element where floating is used) */
.clearfix:after {
    /* damit das floaten der beinhaltenden Elemente nach dem Elternelement wieder aufhört
    css: .fl { float: left; } / .fr { float: right }
    <p class="clearfix">
        <span class="fl">links</span>
        <span class="fr">rechts</span>
    </p>
    <p>weiter geht es ganz normal</p> */
    content: "";
    display: table;
    clear: both;
  }
/* #endregion */ 

/* #region Choose File Button */
/*  from: https://codepen.io/glebkema/pen/VwMQWGE */
.custom-file-button {
	input[type="file"] {
		margin-left: -2px !important;

		&::-webkit-file-upload-button {
			display: none;
		}
		&::file-selector-button {
			display: none;
		}
	}

	&:hover {
		label {
			background-color: #dde0e3;
			cursor: pointer;
		}
	}
}
/* #endregion */

/* #region sizes */
.size-200 {
    width:200px;
    height:200px;
}

.size-220 {
    width:220px;
}
/* #endregion */

/* #region map */
#map { height: 280px; }
/* #endregion */

/* #region btn-block */
.btn-block {
    width:100%;
}
/* #endregion */