.rating {
    color: white;
    padding: 0.1rem 0.8rem;
    border-radius: 25%/50%;
}

.rating1 {
    background-color: red;
}

.rating2 {
    background-color: orangered;
}

.rating3 {
    background-color: orange;
}

.rating4 {
    background-color: yellowgreen;
}

.rating5 {
    background-color: green;
}

form[name="changePasswordForm"] input:read-only, form[name="editUserForm"] input:read-only {
    background-color: lightgray;
}

.clearfix:after {
    /* damit das floaten der beinhaltenden Elemente nach dem Elternelement wieder aufhört
    css: .fl { float: left; } / .fr { float: right }
    <p class="clearfix">
        <span class="fl">links</span>
        <span class="fr">rechts</span>
    </p>
    <p>weiter geht es ganz normal</p> */
    content: "";
    display: table;
    clear: both;
  }