<% layout('layouts/boilerplate')%>

<div class="col-md-6 offset-md-3">
  <div class="card mb-3 p-3 card-user-bg-color">
    <h1>Change Password</h1>
    <form
      name="changePasswordForm"
      action="change-password"
      method="post"
      class="validated-form"
      id="changePasswordForm"
      oninput='newPassword2.setCustomValidity(newPassword1.value !== newPassword2.value ? "Passwords do not match" : "" )'
      novalidate
    >
      <input
        class="form-control"
        type="text"
        name="_id"
        hidden
        value="<%= currentUser._id %>"
      />
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          value="<%= currentUser.username %>"
          readonly
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Current password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          required
        />
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You must enter a password</div>
      </div>
      <div id="divNewPassword1" class="mb-3">
        <label class="form-label" for="newPassword1">New password</label>
        <input
          class="form-control"
          type="password"
          id="newPassword1"
          name="newPassword1"
          required
        />
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You must enter a password</div>
      </div>
      <div id="divNewPassword2" class="mb-3">
        <label class="form-label" for="newPassword2">Retype new password</label>
        <input
          class="form-control"
          type="password"
          id="newPassword2"
          name="newPassword2"
          required
        />
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You must enter a password</div>
      </div>
      <button class="btn btn-success" id="btnChange">Change</button>
    </form>
  </div>
</div>
