<% layout('layouts/boilerplate')%>

<div class="col-md-6 offset-md-3">
    <h1>Register new User</h1>
    <form action="/register"  method="post" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You must enter a username</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email address</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You must enter a email address</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You must enter a password</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="displayname">Displayname</label>
        <input class="form-control" type="text" id="displayname" name="displayname">
    </div>
    <button class="btn btn-success">Register</button>
</form>
</div>