<% layout('layouts/boilerplate')%>


<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="card shadow">
            <img class="card-image-top" src="https://images.unsplash.com/photo-1512428197675-daae5d4e1e43?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="card-body">
                <h5 class="card-title">Register</h5>
                <form action="/register"  method="post" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" required autofocus>
                        <div class="valid-feedback">Looks good</div>
                        <div class="invalid-feedback">You must enter a username</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email address</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                        <div class="valid-feedback">Looks good</div>
                        <div class="invalid-feedback">You must enter a email address</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">Looks good</div>
                        <div class="invalid-feedback">You must enter a password</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="displayname">Displayname</label>
                        <input class="form-control" type="text" id="displayname" name="displayname">
                    </div>
                    <button class="btn btn-success btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

